
@font-face {
    font-family: 'mathlete';
    src: url('mathlete/Mathlete-SkinnySlant-webfont.eot');
    src: url('mathlete/Mathlete-SkinnySlant-webfont.eot?#iefix') format('embedded-opentype'),
         url('mathlete/Mathlete-SkinnySlant-webfont.woff') format('woff'),
         url('mathlete/Mathlete-SkinnySlant-webfont.ttf') format('truetype'),
         url('mathlete/Mathlete-SkinnySlant-webfont.svg#mathleteskinny_slant') format('svg');
    font-weight: normal;
    font-style: normal;
}
