
@font-face {
	font-family: mathlete;
	src: url(mathlete/skinny.eot); /* IE9 Compact Modes */
	src: url(mathlete/skinny.eot?#iefix)format('embedded-opentype'), /* IE6-IE8 */
    	 url(mathlete/skinny.woff)format('woff'), /* Modern Browsers */
    	 url(mathlete/skinny.ttf)format('truetype'), /* Safari, Android, iOS */
    	 url(mathlete/skinny.svg)format('svg'); /* Legacy iOS */
}

body {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(48, 40, 58);
	font-family: mathlete;
    text-align: center;	
    /*animation: pulse 40s infinite;*/
}

@keyframes pulse {
  0% {
    background-color: rgb(48, 40, 58);
  }
  50% {
    background-color: rgb(255, 155, 12);
  }
  100% {
    background-color: rgb(48, 40, 58);
  }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
	padding-left: 10%;
	padding-right: 10%;
	width: auto;
}

p {
	cursor: default;
	font-size: 2.5em;
	margin-top: 0.6em;
	margin-bottom: 0em;
	color: rgb(204, 204, 204);
}

ul {
	padding-left: 0;
	list-style-type: none;
}

li {
	display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

li img {
	font-size: 3em;
	width: 0.6em;
}

li img:hover {
	opacity: 0.65;
    filter: alpha(opacity=80);
}

.picture {
	padding-left: 10%;
	padding-right: 10%;
}

.picture img {
	width: 100%;
	max-width: 25em;
}

.red {
	cursor: pointer;
	display: inline;
	color: #dd1b56;
}

.blur {
	display: inline;
	color: transparent;
   	text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

footer {
	cursor: default;
	color: #ccccff;
	margin-top: 0.8em;
	font-size: 1.8em;
}
