
@font-face {
	font-family: mathlete;
	src: url(mathlete/skinny.eot); /* IE9 Compact Modes */
	src: url(mathlete/skinny.eot?#iefix)format('embedded-opentype'), /* IE6-IE8 */
    	 url(mathlete/skinny.woff)format('woff'), /* Modern Browsers */
    	 url(mathlete/skinny.ttf)format('truetype'), /* Safari, Android, iOS */
    	 url(mathlete/skinny.svg)format('svg'); /* Legacy iOS */
}

body {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(238, 183, 136);
	font-family: mathlete;
    text-align: center;	
}

a {
	display: inline;	
	text-decoration: none;	
	color: #5d5457;
}

.red {
	display: inline;
	text-decoration: none;	
	color: #E61961;
	/* font-size: 1.8em; */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery {
	padding-top: 1em;
	width: 50%;
	margin: 0 auto
}

.content {
	padding-left: 10%;
	padding-right: 10%;
	width: auto;
}

h {
	font-size: 3em;
	color: #363133;	
}

p {
	cursor: default;
	font-size: 1.8em;
	margin-top: 0.6em;
	margin-bottom: 0em;
	color: #5d5457;
	letter-spacing: 0.2em;
	line-height: 130%;
	/*color: rgb(204, 204, 204);*/
}

ul {
	padding-left: 0;
	list-style-type: none;
	font-size: 2em;
	color: #5d5457;
}

li {
	display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

li img {
	font-size: 3em;
	width: 0.6em;
}

li img:hover {
	opacity: 0.65;
    filter: alpha(opacity=80);
}

.picture {
	margin-top: 1em;
	padding-left: 10%;
	padding-right: 10%;
}

.picture img {
	width: 100%;
	max-width: 16em;
}

.red {
	cursor: pointer;
	display: inline;
	color: #5d5457;
}

.blur {
	display: inline;
	color: transparent;
   	text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

footer {
	cursor: default;
	color: #79271b;
	/*color: #ccccff;*/
	margin-top: 0.8em;
	font-size: 2em;
}
